<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- input的双向绑定 -->
        <p>{{ nameInput }}</p>
        <input type="text" v-model="nameInput">
        <!-- textarea的绑定 -->
        <p>{{ nameTextArea }}</p>
        <textarea v-model="nameTextArea" name="" id="" cols="30" rows="10"></textarea>
        <!-- checkbox 布尔值 -->
        <p>{{ nameCheckbox }}</p>
        <input type="checkbox" v-model="nameCheckbox" name="" id="">结婚了没
        <!-- checkbox 多个的时候 数组 -->
        <p>{{ nameCheckboxs }}</p>
        <input type="checkbox" name="" id="" value="xz" v-model="nameCheckboxs">肖战
        <input type="checkbox" name="" id="" value="wyb" v-model="nameCheckboxs">王一博
        <input type="checkbox" name="" id="" value="czy" v-model="nameCheckboxs">陈志远
        <input type="checkbox" name="" id="" value="lzx" v-model="nameCheckboxs">罗志祥
        <!-- radio的绑定 -->
        <p>{{ nameRadio }}</p>
        <input type="radio" name="" id="" value="man" v-model="nameRadio"> 男
        <input type="radio" name="" id="" value="women" v-model="nameRadio"> 女
        <input type="radio" name="" id="" value="mar" v-model="nameRadio"> 火星人
        <!--  select的绑定 -->
        <p>{{ nameSelect }}</p>
        <select name="" id="" v-model="nameSelect">
            <option value=""></option>
            <option value="client">前端</option>
            <option value="server">后端</option>
            <option value="ui">UI</option>
            <option value="test">测试</option>
            <option value="services">运维</option>
        </select>
    </div>
    <script src="./vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                nameInput: 'input的值',
                nameTextArea: 'textarea的值',
                nameCheckbox: false, // 1 布尔值
                nameCheckboxs: ['xz', 'lzx'], // 多个checkboxv-model绑定的时候 是一个数组
                nameRadio: 'mar', // 设置radio的选项
                nameSelect: 'client'  // 前端/后端/数据库/UI/测试/运维
            },
            methods: {}
        });
    </script>
</body>
<!-- 
 1. 实例化一个Vue实例
2. input 绑定 属性 nameInput,实现input同步
3. textarea 绑定 属性 nameTextArea 实现textarea同步 
4. checkbox 绑定一个属性 nameCheckbox 实现 checkbox同步   
5. 多个 checkbox绑定同一个属性 nameCheckboxs 实现 checkbox同步   北京 上海 天津
6. radio 绑定属性 nameRadio 实现同步  男 女 
7. select  绑定属性 nameSelect 实现同步  北京 上海 天津 
 -->

</html>